.innerRoot {
  @apply md:px-0 md:flex;
  height: 57px;
  @screen md {
    padding-top: 13px;
    height: auto;
  }
}

.stickySentinel {
  @apply md:absolute md:left-0 md:right-0 md:-top-2 md:h-1;
}

.smallLogo {
  @apply absolute z-20 flex justify-center w-full leading-none md:relative;
  padding-top: 12px;
  & a {
    @apply block;
    width: 150px;
  }
  @screen md {
    @apply block w-0 overflow-hidden flex-none md:py-0;
    &.hasShownSmallLogo {
      @apply duration-100 md:pl-site-vertical-md;
      width: 25%;
    }
    & a {
      @apply absolute;
      width: 163px;
    }
  }
}