.innerRoot {
  @apply md:px-0 md:flex;
  height: 57px;
  @screen md {
    padding-top: 13px;
    height: auto;
  }
}

.stickySentinel {
  @apply md:absolute md:left-0 md:right-0 md:-top-2 md:h-1;
}

.smallLogo {
  @apply absolute z-20 flex justify-center w-full leading-none md:relative;
  padding-top: 12px;
  & a {
    @apply block;
    width: 150px;
  }
  @screen md {
    @apply block w-0 overflow-hidden flex-none md:py-0;
    &.hasShownSmallLogo {
      @apply duration-100 md:pl-site-vertical-md;
      width: 25%;
    }
    & a {
      @apply absolute;
      width: 163px;
    }
  }
}

.nav {
  @apply w-full;
}

.menuButton {
  @apply z-20 left-site-vertical;
  position: absolute !important;
  top: 18px;
  @screen md {
    display: none !important;
  }
}

.menuList {
  @apply hidden md:flex md:justify-between;
  @screen less-than-md {
    &.hasShownMenuForMobile {
      @apply fixed z-10 top-0 left-0 w-full h-full bg-white flex flex-col pt-20 px-site-vertical;
      border: theme('borderWidth.DEFAULT') solid currentColor;
      & > li + li {
        @apply mt-8;
      }
    }
  }
}

.contactItem {
  @apply md:pr-site-vertical-md;
  & a {
    @apply text-3xl leading-none;
  }
}