.root {
  &.hasNoChildren {
    min-height: 88px;
    @screen md {
      min-height: 106px;
    }
  }

}

.content {
  &.isCentering {
    @apply flex justify-center items-center h-full;
    min-height: 117px;
    @screen md {
      min-height: 210px;
    }
  }
  &.hasNoPaddingMobile {
    @apply px-site-vertical;
  }
  &:not(.hasNoPaddingMobile) {
    padding-left: 60px;
    padding-right: 60px;
    @screen md {
      padding-left: 155px;
      padding-right: 155px;
    }
  }
}