.plus { 
  width: 0.85em;
  height: 0.85em;
  &::before,
  &::after {
    @apply absolute top-1/2 left-0 w-full border-t border-green;
    content: '';
    transition: transform .1s ease-in-out;
  }
  &::after {
    transform: rotate(90deg);
  }
  &.hasPressed {
    &::before {
      transform: rotate(180deg);
    }
    &::after {
      transform: rotate(180deg);
    }
  }
}