.root {
  @apply flex;
  & > * + * {
    margin-left: 20px;
  }
}
.button {
  width: 22px;
  height: 22px;
  &:hover {
    & :global(.circle) {
      fill: white;
    }
    & :global(.logo) {
      fill: black;
    }
  }
}