.root {
  @apply flex;
  & > * + * {
    margin-left: 12px;
    @screen md {
      margin-left: 20px;
    }
  }

}
.button {
  width: 31px;
  @screen md {
    width: 22px;
  }
  &:hover {
    & :global(.circle) {
      fill: white;
    }
    & :global(.logo) {
      fill: black;
    }
  }
}