.fit {
  min-height: calc(100vh - 88px);
}

.block-title {
  @apply text-2xl leading-none z-10 absolute left-site-vertical md:left-site-vertical-md;
  top: 10px;
  @screen md {
    top: 13px;
  }
}

.no-skip-ink {
  text-decoration-skip-ink: none;
}

.header-menu-title {
  @apply block px-site-vertical text-3xl leading-tight pb-2.5 md:leading-none md:px-site-vertical-md md:pb-3.5;
}

.footer-menu-title {
  @apply text-xl md:text-2xl md:leading-none;
}