.root {
  @apply w-full;
}

.menuButton {
  @apply z-20 left-site-vertical;
  position: absolute !important;
  top: 18px;
  @screen md {
    display: none !important;
  }
}

.menuListWrapper {
  @apply hidden md:block;
  @screen less-than-md {
    &.hasShownMenuForMobile {
      --header-height: 60px;
      --footer-height: 70px;
      @apply fixed z-10 top-0 bottom-0 left-0 right-0 bg-white flex flex-col px-site-vertical;
      border: theme('borderWidth.DEFAULT') solid currentColor;
      padding-top: var(--header-height);
      padding-bottom: var(--footer-height);
      & .menuList {
        overflow: auto;
        padding-top: 30px;
        padding-bottom: var(--footer-height);
      }
    }
  }
}

.i18n {
  @apply absolute bottom-4 left-site-vertical text-2xl md:hidden;
}