.root {
  @apply w-full;
}

.menuButton {
  @apply z-20 left-site-vertical;
  position: absolute !important;
  top: 18px;
  @screen md {
    display: none !important;
  }
}

.menuListWrapper {
  @apply hidden md:block;
  @screen less-than-md {
    &.hasShownMenuForMobile {
      @apply fixed z-10 top-0 left-0 w-full h-full bg-white flex flex-col pt-20 px-site-vertical;
      border: theme('borderWidth.DEFAULT') solid currentColor;
    }
  }
}

.i18n {
  @apply absolute bottom-4 left-site-vertical text-2xl md:hidden;
}