.root {
  /* &::-webkit-scrollbar {
    height: 1px;
  }
  &::-webkit-scrollbar-track {
  }
  &::-webkit-scrollbar-thumb {
    background: var(--green);
    height: 1px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  } */
}

.gridWrapper {
  @apply grid grid-cols-1;
  & > * {
    @apply bg-white;
  }
  &.hasBorder {
    @apply bg-green;
    gap: theme('borderWidth.DEFAULT');
  }
  &.layoutNormal {
    @apply lg:grid-cols-2;
  }
  &.layoutCol3 {
    @apply lg:grid-cols-3;
    &.isSlide {
      @apply grid-cols-3;
      width: calc(80vw * 3);
      @screen md {
        width: 1440px;
      }
      @screen 2xl {
        width: 100%;
      }
    }
  }
}