.root {
  &.header {
    @apply md:pl-site-vertical-md md:w-full;
    &:hover {
      & .children {
        @apply md:not-sr-only md:absolute md:left-0 md:bottom-0 md:w-full md:px-site-vertical-md md:py-5;
      }
    }
    @screen md {
      padding-bottom: 15px;
    }

    & .title {
      @apply text-3xl leading-none;
    }

    & .children {
      @apply sr-only bg-white text-base;
      @screen md {
        border: theme('borderWidth.DEFAULT') solid currentColor;
        transform: translateY(100%);
      }
      @screen less-than-md {
        &.hasShownChildrenForMobile {
          @apply not-sr-only mt-6;
        }
      }
    }
    & .child + .child {
      @apply mt-1.5 md:mt-0.5;
    }
  }

  &.footer {
    & .title {
      @apply text-xl md:text-2xl leading-none;
    }

    & .children {
      @apply text-sm;
      @screen less-than-md {
        @apply sr-only;
        &.hasShownChildrenForMobile {
          @apply not-sr-only mt-2;
        }
      }
    }

    & .child + .child {
      @apply mt-1.5 md:mt-0;
    }
  }
}