.root {
  @apply flex;
}

.item {
  width: 44px;
  & + .item {
    margin-left: 10px;
  }

  & a:hover {
    & :global(.circle) {
      fill: white;
    }
    & :global(.logo) {
      fill: black;
    }
  }
}